.flex {
  max-width: 200px;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: aqua;
  margin: 5px;
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.flex-item {
  background: blue;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row-reverse li {
  background-color: red;
}

.column {
  float: left;
  flex-direction: column;
}

.column li {
  background: orange;
}

.column-reverse {
  float: right;
  flex-direction: column-reverse;
}

.column-reverse li {
  background: green;
}

.container-jc {
  max-width: 400px;
  border: 1px solid black;
  margin: 0;
  display: flex;
  margin-bottom: 10px;
}

.container-jc-col {
  width: 100%;
  border: 1px solid black;
  margin: 0;
  margin-bottom: 10px;
}

.item-jc {
  background-color: blueviolet;
  margin: 5px;
  text-align: center;
  color: white;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.column {
  flex-direction: column;
  min-height: 200px;
}
