.flex {
  max-width: 200px;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: aqua;
  margin: 5px;
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.flex-item {
  background: blue;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row-reverse li {
  background-color: red;
}

.column {
  float: left;
  flex-direction: column;
}

.column li {
  background: orange;
}

.column-reverse {
  float: right;
  flex-direction: column-reverse;
}

.column-reverse li {
  background: green;
}

.container-jc {
  max-width: 400px;
  border: 1px solid black;
  margin: 0;
  display: flex;
  margin-bottom: 10px;
}

.container-jc-col {
  width: 100%;
  border: 1px solid black;
  margin: 0;
  margin-bottom: 10px;
}

.item-jc {
  background-color: blueviolet;
  margin: 5px;
  text-align: center;
  color: white;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.column {
  flex-direction: column;
  min-height: 200px;
}

.container-ai {
  max-width: 350px;
  border: 1px solid black;
  display: flex;
}

.item-ai {
  background-color: brown;
  margin: 5px;
  color: wheat;
  text-align: center;
  flex: 1;
}

.center-ai {
  align-items: center;
}

.stretch-ai {
  align-items: stretch;
}

.flex-start-ai {
  align-items: flex-start;
}

.flex-end-ai {
  align-items: flex-end;
}
.baseline-ai {
  align-items: baseline;
}

.column-ai {
  flex-direction: column;
}

.central {
  height: 300px;
  justify-content: center;
}

.central .item-ai {
  flex: 0;
  padding: 20px;
}

.container-ac {
  height: 400px;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.item-ac {
  background-color: orange;
  padding: 0 5px;
  margin: 5px;
  flex: 1;
  text-align: center;
  color: white;
}

.center-ac {
  align-content: center;
}

.stretch-ac {
  align-content: stretch;
}

.flex-start-ac {
  align-content: flex-start;
}

.flex-end-ac {
  align-content: flex-end;
}

.space-around-ac {
  align-content: space-around;
}

.space-between-ac {
  align-content: space-between;
}

.flex-container {
  display: flex;
  border: 2px solid black;
  max-width: 300px;
}

.item-fc {
  background-color: orangered;
  margin: 5px;
  padding: 10px;
  text-align: center;
  color: white;
}

.fg-0 {
  flex-grow: 0;
}

.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

.fg-3 {
  flex-grow: 3;
}

.item-fb {
  background-color: coral;
  color: white;
  text-align: center;
  margin: 5px;
}

.bauto {
  flex-basis: auto;
}

.b-0 {
  flex-basis: 0;
}

.item-fs {
  background-color: aquamarine;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.s-1 {
  flex-shrink: 1;
}

.item-f {
  background-color: yellowgreen;
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.flex-1 {
  flex: 1;
  /* grow = 1; shrink = 1; basis = 0 */
}

.o-1 {
  order: 1;
}

.o-2 {
  order: 2;
}

.o-3 {
  order: 3;
}
