* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #5d2511;
  background: #5d2511; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fff,
    #5d2511
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fff,
    #5d2511
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header,
.btn,
.container-externo,
.item-curiosidade h3::after,
.footer {
  background: #7b341b;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

section {
  padding: 60px;
}

.flex-container {
  display: flex;
  width: 100%;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  color: #5d2511;
}

.header h1 {
  text-shadow: #fff 1px 2px;
}

.header .list-items {
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  color: white;
  font-weight: bold;
}

.apresentacao {
  align-items: center;
  justify-content: space-between;
}

.apresentacao img {
  width: 100%;
  box-shadow: #902b05 2px 3px;
}

.apresentacao .text-apresentacao {
  min-height: 200px;
  width: 100%;
}

.text-apresentacao h1 {
  color: #902b05;
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  color: white;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tipos-cafe {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.apresentacao div,
#tipos-cafe div,
#metodos div,
#curiosidade div {
  padding: 20px;
}

#tipos-cafe h2,
#curiosidade h2 {
  font-size: 32px;
  color: #902b05;
  display: flex;
  margin-bottom: 20px;
}

#tipos-cafe h2::before,
#curiosidade h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  position: relative;
  background: #7b341b;
}

#tipos-cafe img {
  min-width: 420px;
  box-shadow: #902b05 0px 3px 0px 2px;
}

.container-externo {
  width: 100%;
}

#metodos {
  flex-direction: column;
}

#metodos h2 {
  font-size: 32px;
  color: #ffffff;
  display: flex;
  margin-bottom: 20px;
}

.list-metodos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.list-metodos .item-metodos {
  text-align: center;
}

.item-metodos a {
  width: 220px;
  background-color: white;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  padding: 5px 10px;
  color: #902b05;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}

.item-metodos p {
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin-top: 20px;
}

.item-metodos img {
  width: 80%;
  margin: auto;
}

#curiosidade {
  flex-direction: column;
}

.list-curiosidade {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.item-curiosidade {
  flex: 1;
  border: 2px solid #902b05;
  margin-right: 20px;
  padding: 10px;
  max-width: 240px;
  margin-bottom: 20px;
}

.item-curiosidade h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.item-curiosidade h3::after {
  content: "";
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-curiosidade ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item-curiosidade ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-curiosidade ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #5d2511;
}

.footer {
  justify-content: space-around;
  color: white;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.item-metodos .modalDialog .text-modal {
  color: #000;
}

.img-metodos {
  background-color: #ffffff;
  border-radius: 50%;
}

.close {
  background: #606061;
  max-width: 30px;
  right: 6px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 10px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #ccc;
}

/*mobile*/
@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
  .header {
    height: 120px;
  }
  .header div {
    align-items: center;
  }
  .header audio {
    padding: 10px 10px;
  }
  .apresentacao {
    flex-direction: column-reverse;
  }
  .apresentacao .text-apresentacao {
    width: 100%;
  }
  #tipos-cafe {
    flex-direction: column-reverse;
  }
  #tipos-cafe img {
    min-width: 320px;
    margin: auto;
  }
  .list-metodos {
    flex-direction: column;
  }
  .item-metodos .img-metodos {
    width: 40%;
    margin: auto;
  }
  .item-metodos .img-metodos img {
    width: 60%;
  }
  .list-curiosidade {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-curiosidade .item-curiosidade {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .modalDialog div {
    width: 300px;
  }
}
